# `utils.add_noisy_features`

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import slickml

print(f"Loaded SlickML Version = {slickml.__version__}")

Loaded SlickML Version = 0.2.1

In [3]:
from slickml.utils import add_noisy_features

help(add_noisy_features)

Help on function add_noisy_features in module slickml.utils._transform:

add_noisy_features(X: Union[pandas.core.frame.DataFrame, numpy.ndarray], *, random_state: Optional[int] = 1367, prefix: Optional[str] = 'noisy') -> pandas.core.frame.DataFrame
    Creates a new feature matrix augmented with noisy features via permutation.

    The main goal of this algorithm to augment permutated records as noisy features to explore the
    stability of any trained models. In principle, we are permutating the target classes. The input
    data with a shape of ``(n, m)`` would be transformed into an output data with a shape of
    ``(n, 2m)``.

    Parameters
    ----------
    X : Union[pd.DataFrame, np.ndarray]
        Input features

    random_state : int, optional
        Random seed for randomizing the permutations and reproducibility, by default 1367

    prefix : str, optional
        Prefix string that will be added to the noisy features' names, by default "noisy"

    Returns
    -------
    pd.DataFrame
        Transformed feature matrix with noisy features and shape of (n, 2m)

    Examples
    --------
    >>> import pandas as pd
    >>> from slickml.utils import add_noisy_features
    >>> df_noisy = add_noisy_features(
    ...     df=pd.DataFrame({"foo": [1, 2, 3, 4, 5]}),
    ...     random_state=1367,
    ...     prefix="noisy",
    ... )

### Example 1: `add_noisy_features` with `pandas.DataFrame` as the input data

In [4]:
import pandas as pd

df = pd.DataFrame(
    {
        "foo": [1, 2, 3, 4, 5],
    }
)
df

   foo
0    1
1    2
2    3
3    4
4    5

In [5]:
df_noisy = add_noisy_features(df)
df_noisy

   foo  noisy_foo
0    1          2
1    2          4
2    3          5
3    4          1
4    5          3

### Example 2: `add_noisy_features` with `numpy.ndarray` as the input data

In [6]:
import numpy as np

np.random.seed(1367)
X = np.random.rand(4, 3)
X

array([[0.88614473, 0.04571154, 0.66280713],
       [0.44769353, 0.02292948, 0.30642436],
       [0.71358488, 0.10339478, 0.76711516],
       [0.64470859, 0.91519028, 0.26689842]])

In [7]:
X_noisy = add_noisy_features(X)
X_noisy

        F_0       F_1       F_2  noisy_F_0  noisy_F_1  noisy_F_2
0  0.886145  0.045712  0.662807   0.447694   0.022929   0.306424
1  0.447694  0.022929  0.306424   0.644709   0.915190   0.266898
2  0.713585  0.103395  0.767115   0.886145   0.045712   0.662807
3  0.644709  0.915190  0.266898   0.713585   0.103395   0.767115

### TODO: Example 3: `add_noisy_features` with `List[List[float]]` as the input data

In [8]:
X = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]
X

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
# This feature is currently not implemented;
# https://github.com/slickml/slick-ml/issues/107
# Feel free to send your PR! It should be an easy one :D

# Uncomment below once the feature is implemented
# X_noisy = add_noisy_features(X)
# X_noisy

### Feel free to add your favorite `Example` via a `pull-request`.
### More details can be found in our [Contributing Document](https://github.com/slickml/slick-ml/blob/master/CONTRIBUTING.md).