# Example 01: General Use of Noisy Features
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/slickml/slick-ml/blob/master/examples/feature_engineering/example_01_noisy_features.ipynb)

### Google Colab Configuration

In [1]:
# !git clone https://github.com/slickml/slick-ml.git
# %cd slick-ml
# !pip install -r requirements.txt

### Local Environment Configuration

In [2]:
# Change path to project root
%cd ../..

/Users/atahmassebi/Desktop/AmirStuff/GitHub/slick-ml

### Import Python Libraries

In [3]:
%load_ext autoreload

# widen the screen
from IPython.core.display import display, HTML

display(HTML("<style>.container { width:95% !important; }</style>"))

# change the path and loading class
import os, sys
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
%autoreload
from slickml.feature_engineering import noisy_features

_____
# noisy_features Docstring

In [5]:
help(noisy_features)

Help on function noisy_features in module slickml.feature_engineering:

noisy_features(X, random_state=None, prefix=None)
    Funtion to use the permuted rows as noisy features.
    This is function to permute the rows of a array or a dataframe
    and add them back to the as noisy features to explore stability
    of the models. In better words, we are permuting the target class.
    The input data with shape of (n, m) would be transformed
    to output data with shape of(n, 2m).

    Parameters
    ----------
    X: numpy.array or pandas.DataFrame or array in a form of list of list
        Input data (features)

    random_state : integer, optional (default=1367)
        Random seed for randomizing the permutations

    prefix= str, optional (default="noisy")
        Prefix string that will be added to the noisy features.

### Example 1: Numpy Array

In [6]:
X = np.random.rand(4, 3)
X

array([[0.53725799, 0.21285866, 0.58977018],
       [0.38571465, 0.9787819 , 0.66386145],
       [0.60481689, 0.19851342, 0.49246564],
       [0.77943364, 0.17917814, 0.92369116]])

In [7]:
noisy_features(X)

        F_0       F_1       F_2  noisy_F_0  noisy_F_1  noisy_F_2
0  0.537258  0.212859  0.589770   0.385715   0.978782   0.663861
1  0.385715  0.978782  0.663861   0.779434   0.179178   0.923691
2  0.604817  0.198513  0.492466   0.537258   0.212859   0.589770
3  0.779434  0.179178  0.923691   0.604817   0.198513   0.492466

### Example 2: Pandas DataFrame

In [8]:
X = pd.DataFrame(np.random.rand(4, 3), columns=[f"col_{i}" for i in range(X.shape[1])])
X

      col_0     col_1     col_2
0  0.173211  0.506852  0.978175
1  0.316684  0.008112  0.970486
2  0.371676  0.609550  0.219895
3  0.122510  0.705241  0.889342

In [9]:
noisy_features(X)

      col_0     col_1     col_2  noisy_col_0  noisy_col_1  noisy_col_2
0  0.173211  0.506852  0.978175     0.316684     0.008112     0.970486
1  0.316684  0.008112  0.970486     0.122510     0.705241     0.889342
2  0.371676  0.609550  0.219895     0.173211     0.506852     0.978175
3  0.122510  0.705241  0.889342     0.371676     0.609550     0.219895

### Example 3: List

In [10]:
X = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
X

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
noisy_features(X)

   F_0  F_1  F_2  noisy_F_0  noisy_F_1  noisy_F_2
0    1    2    3          4          5          6
1    4    5    6          1          2          3
2    7    8    9          7          8          9